<form [formGroup]="eventForm">
  <input type="number" formControlName="id" readonly />
  <input type="text" formControlName="title" />
  <input type="text" formControlName="content" />
  <select name="category" id="category" formControlName="category">
    <option value="0">Low</option>
    <option value="1">Medium</option>
    <option value="2">High</option>
  </select>
  <input type="datetime-local" formControlName="date" />
  <button (click)="saveEvent()" [disabled]="!eventForm.valid">Save</button>
</form>
