.calendar-cell-content {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.calendar-cell-content:hover > .calendar-cell-content-number {
  opacity: 0.6;
}

.calendar-cell-content-number {
  justify-self: flex-start;
  font-weight: bold;
}

.calendar-cell-reminders-list {
  align-self: center;
  padding: 0;
}

.calendar-cell-reminders-list-element {
  list-style: none;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 140px;
}
