<div class="calendar-cell-content" (click)="ViewDetails()">
  <span class="calendar-cell-content-number">{{ date | date: "dd" }}</span>
  <ol class="calendar-cell-reminders-list">
    <li
      *ngFor="let reminder of currentDayReminders"
      class="calendar-cell-reminders-list-element"
      title="{{ reminder.text }}"
      [ngClass]="{
        'category-high': isHigh(reminder.category),
        'category-medium': isMedium(reminder.category),
        'category-low': isLow(reminder.category)
      }"
    >
      {{ reminder.date | date: "shortTime" }} - {{ reminder.text }}
    </li>
  </ol>
</div>
